<h1>Ask a question</h1>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Your question to the coach" class="round">
  <input type="submit" class="rounded" value="ASK">
</form>
